@import "../../index.scss";

.sign-up,
.log-in {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  h1 {
    margin-bottom: 1rem;
    color: $gold-color;
  }
  section {
    display: grid;
    justify-items: center;
    align-items: start;
  }
  input,
  button {
    display: block;
    margin-block: 0.5rem;
    padding: 0.2rem;
    outline: none;
    border: 1px solid $gold-color;
    border-radius: 2rem;
    text-align: center;
  }
  button {
    background-color: black;
    color: $gold-color;
    padding: 0.2rem 0.5rem;
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: $gold-color;
      color: black;
    }
    @media (max-width: 800px) {
      &:hover {
        background-color: black;
        color: $gold-color;
      }
    }
  }
}
