@import "../../index.scss";

.main-page {
  display: grid;
  justify-items: center;
  position: relative;
  .tablet-hide {
    @media (max-width: 1280px) {
      display: none;
    }
  }
  .skeleton {
    position: absolute;
    right: -5%;
    top: -4%;
    animation: skeleton 7s ease-in-out 1s infinite normal none;
    @keyframes skeleton {
      0% {
        transform: translateX(0px);
        transform-origin: 50% 100%;
      }
      80% {
        transform: translateX(-40px);
      }
      90% {
        transform: translateX(-50px);
        opacity: 1;
      }
      100% {
        transform: translateX(-60px);
        opacity: 0;
      }
    }
  }
  .creatures-info {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }
  
}

.traits-ul {
  margin-left: 2rem;
  li {
    list-style-type: disc;
  }
}