@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Milonga&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: hsl(0, 0%, 18%);
  color: white;
  font-size: 18px;
}

$gold-color: #e6c068;

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

h1 {
  color: $gold-color;
  font-family: "Milonga", serif;
}

h3 {
  font-family: "Milonga", serif;
}

.active {
  color: #766238;
}

.required {
  color: indianred;
}

.disabled {
  opacity: 50%;
  &:hover {
    background-color: black;
    color: $gold-color;
  }
}

.tablet-hide {
  @media (max-width: 1000px) {
    display: none;
  }
}

button,
select,
input {
  padding: 0.3rem 0.5rem;
  font-family: inherit;
  font-size: smaller;
  outline: none;
  cursor: pointer;
  color: $gold-color;
  border: 1px solid $gold-color;
  border-radius: 20px;
  background-color: black;
  transition: 0.5s ease;
  &:hover {
    background-color: $gold-color;
    color: black;
  }
  @media (max-width: 900px) {
    &:hover {
      background-color: black;
      color: $gold-color;
    }
  }
}

button {
  font-family: "Cinzel Decorative", serif;
}

input {
  background-color: white;
  color: black;
  @media (max-width: 900px) {
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.error-msg {
  margin: 2rem 1rem;
  color: indianred;
  text-align: center;
}

.modal-msg {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.icon {
  font-size: 1.2rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 50%;
    z-index: 1;
  }
}

.pages-btn {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
  @media (max-width: 900px) {
    button:hover {
      background-color: black;
      color: $gold-color;
    }
  }
}

$delete-dialog-height: 60%;
$delete-dialog-width: 90%;
$edit-dialog-height: 90%;
$edit-dialog-width: 90%;

dialog[open] {
  display: grid;
  height: $delete-dialog-height;
  width: $delete-dialog-width;
  left: calc((100vw - $delete-dialog-width) / 2);
  top: calc((100vh - $delete-dialog-height) / 2);
  .close-modal-btn {
    justify-self: right;
    padding: 0.5rem;
  }
  .main-modal {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }
}

.edit-dialog[open] {
  display: grid;
  height: $edit-dialog-height;
  width: $edit-dialog-width;
  left: calc((100vw - $edit-dialog-width) / 2);
  top: calc((100vh - $edit-dialog-height) / 2);
  .close-modal-btn {
    justify-self: right;
    padding: 0.5rem;
  }
  .main-modal {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: start;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    .modal-msg {
      align-self: start;
    }
    label {
      display: grid;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}

main {
  min-height: 100vh;
}

footer {
  display: grid;
  justify-items: center;
  padding-top: 1rem;
  gap: 0.5rem;
  border-top: 1px solid $gold-color;
  margin-bottom: 1rem;
  height: 4rem;
}

// NOT FOUND AND ABOUT PAGE --------------------------------

.not-found-page,
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  p {
    color: rgb(185, 70, 70);
    font-weight: 500;
  }
  .about-h1 {
    color: $gold-color;
  }
  .not-found-h1 {
    color: white;
  }
  div {
    padding: 3rem;
    width: 50%;
    @media (max-width: 640px) {
      width: 90%;
    }
  }
  img {
    width: 40%;
  }
}

//SEARCH PAGE -------------------------------------

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  header {
    display: grid;
    justify-items: center;
    gap: 1rem;
    div {
      @media (max-width: 800px) {
        display: grid;
        justify-content: center;
        gap: 0.5rem;
      }
    }
    input {
      background-color: white;
      text-align: center;
      color: black;
      margin-left: 0.3rem;
      margin-bottom: 1rem;
    }
    .btn-container {
      display: flex;
      justify-content: center;
    }
  }
}

//GRID TEMPLATE AND CARD TEMPLATE ------------------------------

.main-page {
  display: grid;
  justify-items: center;
  align-items: start;
  position: relative;
}
.resources-grid {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  @media (max-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
.resource-card {
  display: grid;
  height: 400px;
  gap: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid $gold-color;
  overflow: hidden;
  border-radius: 1rem;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: black;
  }
  h3 {
    color: $gold-color;
  }
  .intro-card {
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
    p {
      border: 1px solid $gold-color;
      padding: 0.2rem;
      border-radius: 0.5rem;
      background-color: black;
    }
  }
  .lower-card {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 1rem;
      height: 300px;
    }
  }
  @media (max-width: 900px) {
    &:hover {
      background-color: transparent;
    }
  }
  .favorite-name {
    padding: 0.5rem;
  }
}

// SINGLE RESOURCE PAGE ------------------------------------

.single-resource {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  padding: 2rem;
  h1{
    @media (max-width: 640px) {
      margin-top: 2rem;
    }
  }
  .main-single-page {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    ul {
      list-style-type: circle;
      line-height: 1.5rem;
      li {
        padding: 0.2rem;
      }
      @media (max-width: 800px) {
        padding-left: 2rem;
      }
    }
    strong {
      color: $gold-color;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      padding: 1rem;
    }
  }
  figure > img {
    border-radius: 1rem;
    border: 1px solid $gold-color;
  }
  .link {
    background-color: black;
    padding: 0.3rem 0.4rem;
    border-radius: 2rem;
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: $gold-color;
    }
    @media (max-width: 900px) {
      &:hover {
        background-color: black;
      }
    }
  }
  .icon-container {
    position: absolute;
    display: flex;
    gap: 1rem;
    right: 2rem;
    top: 10rem;
    margin-bottom: 1rem;
    .icon {
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }
  .hide {
    display: none;
  }
  @media (max-width: 640px) {
    padding: .5rem;
  }
}
