* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: hsl(0, 0%, 18%);
  color: white;
  font-size: 18px;
}

$gold-color: #e6c068;

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.active {
  color: #766238;
}

.tablet-hide {
  @media (max-width: 800px) {
    display: none;
  }
}

.not-found-page,
.about-page {
  display: grid;
  justify-items: center;
  text-align: center;
  p {
    color: rgb(185, 70, 70);
    font-weight: 500;
  }
  .about-h1 {
    color: $gold-color;
  }
  div {
    padding: 3rem;
    width: 50%;
  }
  img{
    width: 40%;
  }
}
